ablog>=0.11.0rc2
docutils
ipython!=8.7.0
matplotlib
myst_nb
MyST-Parser
pydata-sphinx-theme>=0.13.0rc1
rich
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-examples
sphinxcontrib-bibtex
sphinxext-opengraph
sphinxext-rediraffe
