ablog
docutils
myst_nb
MyST-Parser
pydata-sphinx-theme
rich
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-examples
sphinxcontrib-bibtex
sphinxext-opengraph
sphinxext-rediraffe
git+https://github.com/choldgraf/sphinx-tweet-embed@sphinx-api-update
