name: deploy-website

# Only run this when the master branch changes
on:
  pull_request:
  push:
    branches:
    - main
  workflow_dispatch:

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - uses: actions/setup-python@v4
      with:
        python-version: '3.12' 

    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v3
      with:
        version: "latest"

    - name: Install dependencies
      run: |
        uv venv
        uv pip install -r requirements.txt
        uv pip install -r execute-requirements.txt

    # Build the book
    - name: Build the site
      run: |
        myst build

    # Hide pages behind a password
    - uses: actions/setup-node@v3
    - run: npm install -g staticrypt
    - run: find _build/dirhtml/hidden -type f -name "*.html" -exec staticrypt {} TEST -o {} \;

    # If we've pushed to main, push the book's HTML to github-pages
    - if: ${{ github.ref == 'refs/heads/main' }}
      name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.9.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_build/html
        cname: chrisholdgraf.com
